<div class="new_post">
  <%= form_for(@post) do |f| %>
    <div class="input required">
      <%= f.text_area :message %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
